.App {
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 2rem;
  background: rgb(51, 62, 65);
  padding-left: 40px;
  color: white;
}

nav h3{
  cursor: pointer;
}

.ul-links{
  cursor: pointer;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font : 1.6rem;
}